@import url('https://fonts.googleapis.com/css2?family=Anton&family=Stick+No+Bills:wght@800&display=swap');
.header{
    background-color: aqua;
    padding:10px;
    display: flex;
    justify-content: center;
    font-family: "Stick No Bills", sans-serif;
}
.header h1{
    font-size:4rem;
}